.App {
  /* text-align: center; */
}

body {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.btn {
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  background-color: red;
  padding: 4px;
  cursor: pointer;
}

input[type="text"] {
  border-radius: 2px;
  outline: none;
}

.btn:hover {
  color: #000;
}

.card {
  height: 240px;
  width: auto;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
